RoundCounter {
    position: absolute;
    color: white;
    font-family: Poppins;

    left: 46%;
    
    font-size: 50px;
    font-weight: bold;

    background-color: orange;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    border: 10px;
    border-color: orange;

    opacity: 1;

    .hidden {
        opacity: 0;
    }
}