PlayerAmount {
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: orange;
    width: 143px;

    border: 20px;
    border-color: orange;
    border-radius: 15px;

    font-family: Poppins;
    font-size: 50px;
    font-weight: 900; 

    right: 150px;      
    bottom: 150px;
}