@inherits Panel
@attribute [StyleSheet("ui/mapvoting/MapVoteScreen.scss")]
@namespace LASU.UI
@using LASU

<root class=@(IsOpen ? "open" : "closed")>
    <div @ref="Maps" class="map-canvas">
        @foreach(var map in LASU.LASUGame.Instance.MapOptions) 
        {
            <MapVoteThumbnail MapIdent=@map/>
        }
    </div>
</root>

@code 
{
    private bool IsOpen => LASUGame.Instance.CurrGameState == LASUGame.GameStates.MapVoting || ManuallyOpened;
    private bool ManuallyOpened;
    private float GameTime => LASUGame.Instance.TimeUntilSwitchMap;
    private Panel Maps {get; set;}

    protected override void OnAfterTreeRender( bool firstTime )
    {
        base.OnAfterTreeRender( firstTime );
    
        if (!firstTime) return;
    }

    [Event.Client.BuildInput]
    private void OnBuildInput() 
    {
        if (Input.Pressed(InputButton.Menu)) 
        {
            ManuallyOpened = !ManuallyOpened;
        }
    }

    protected override int BuildHash()
    {
        return GameTime.GetHashCode();
    }
}
