@inherits Panel
@attribute [StyleSheet("ui/mapvoting/MapVoteScreen.scss")]
@namespace LASU.UI
@using LASU

<root class=@(Active ? "active" : "")> 
    <div @ref="Thumbnail" class="thumb"></div>
    <div class="votes">
        <label class="key">@Votes</label>
    </div>
</root>

@code 
{
    public string MapIdent {get; set;}
    int Votes;
    bool Active;
    Panel Thumbnail {get; set;}

    protected override void OnAfterTreeRender( bool firstTime )
    {
        base.OnAfterTreeRender( firstTime );

        if (firstTime) 
        {
            LoadThumbnail();
        }
    }

    protected override void OnClick( MousePanelEvent e )
    {
        base.OnClick( e );

        LASU.LASUGame.SetMapVote(MapIdent);
    }
	
    private async void LoadThumbnail() 
    {
        if (string.IsNullOrEmpty(MapIdent)) return;

        var pkg = await Package.FetchAsync(MapIdent, true);
        if (pkg == null) return;

        Thumbnail.Style.SetBackgroundImage(pkg.Thumb);
        StateHasChanged();
    }

    public override void Tick() 
    {
        base.Tick();

        if (string.IsNullOrEmpty(MapIdent)) return;

        Votes = LASUGame.Instance.MapVotes.Values.Count(x => x == MapIdent);
        Active = LASUGame.Instance.MapVotes.ContainsKey(Game.SteamId) && LASUGame.Instance.MapVotes[Game.SteamId] == MapIdent;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Votes, Active);
    }

}